body {
  width: 400px;
  margin: 15px;
}

.Title {
align-content: center;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 18;
}

.summary-box {
  background-color: lavenderblush;
}