.banner {
  width: 100%;
  float: left;
}

.banner_left {
  padding: 8px;
  float: left;
}

.banner_right {
  padding: 8px;
}

body {
  font-family: 'Orelega One', cursive;
}
h1 {
  color: white;
  font-family: 'Bangers', cursive;
  letter-spacing: 3px;
  margin-right: 190px;
  margin-top: 10px;
}
#demo {
  font-family: 'Red Hat Text', sans-serif;
  font-size: 70%;
}
.body_inner {
  padding: 0 32px;
}

.body_left {
  border: 0;
  padding: 0;
  margin: 0;
  width: 70%;
  float: left;
}

.body_right {
  border: 0;
  padding: 0;
  margin: 0;
  width: 46%;
  float: left;
  position: relative;
  left: 330px;
  bottom: 323px
}

.body_wrapper {
  width: 650px;
  float: left;
  padding-right: 150px;
  height: 350px;
}
.btn {
  margin: 10px;
}

.box {
  margin: 10px;
  padding: 10px;
  border: 1px solid #999;
}

.busy {
  background-color: #ffc;
}

#help {
  text-align: left;
}

.large_button {
  font-size: 166%;
  padding: 6pt 12pt 6pt 12pt;
}

#srctext {
  width: 100%;
  font-size: 133%;
}

.tabbable {
  padding: 10px;
  border: 1px solid #00c;
}

table {
  margin-left: auto;
  margin-right: auto;
}

#voiceInfo {
  text-align: left;
  padding: 4px;
  border: 1px solid #aaa;
  width: 100%;
  min-height: 100px;
  overflow: auto;
}
